[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mosaicModel"]
	path = mosaicModel
	url = https://github.com/cran/mosaicModel
	shallow = true
	registered = true
