[submodule ".registry"]
	path = .registry
	url = https://github.com/dtkaplan/dtkaplan.r-universe.dev
	branch = HEAD
[submodule "LSTbook"]
	path = LSTbook
	url = https://github.com/dtkaplan/LSTbook
	branch = CRANv0.5.0
